<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/head :: head"></head>
<header th:insert="blocks/header :: header"></header>

<div class="container py-3">

    <h2>Пользователь</h2>

    <body>

    <form th:method="POST" th:action="@{/users}" th:object="${user}">

        <label class="form-label" for="id">Id</label>
        <input class="form-control" type="text" th:field="*{id}" id="id" readonly>
        <br>

        <label class="form-label" for="username">Имя</label>
        <input class="form-control" type="text" th:field="*{username}" id="username" required>
        <br>

        <label class="form-label" for="password">Пароль</label>
        <input class="form-control" type="text" th:field="*{password}" id="password" required>
        <br>

        <label class="form-label" for="roles">Роли</label>
        <select class="form-select" th:field="*{roles}" multiple="multiple" id="roles" required>
            <th:block th:each="role : ${T(com.example.alpharoombooking.models.Role).values()}">
                <option th:text="${role.translation}" th:value="${role.name()}"/>
            </th:block>
        </select>
        <br>

        <label class="form-label" for="status">Состояние</label>
        <select class="form-select" id="status">
            <option th:each="status : ${T(com.example.alpharoombooking.models.Status).values()}"
                    th:value="${status}" th:text="${status}"></option>
        </select>
        <br>

        <label class="form-label" for="active">Активен</label>
        <input type="checkbox" th:field="*{active}" id="active" onclick="return false;">
        <br>

        <input class="btn btn-primary" type="submit" value="Сохранить"/>
        <button class="btn btn-outline-secondary" th:if="*{id != null}" type="button" th:onclick="'removeUser(\'' + ${id} +'\')'">Удалить</button>

    </form>

    <script type="text/javascript" th:src="@{/js/main.js}"></script>

    </body>

</div>

</html>