<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/head :: head"></head>

<div class="container py-3">

    <header th:insert="blocks/header :: header"></header>

    <body>

    <h2>Login</h2>

    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div><label> User Name : <input class="form-control" type="text" name="username"/> </label></div>
        <div><label> Password: <input class="form-control" type="password" name="password"/> </label></div>
        <br>

        <div class="form-group row">
            <div class="col-sm-1">
                <div><input class="btn btn-primary" type="submit" value="Sign In"/></div>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-outline-secondary" href="/registration" role="button">Registration</a>
            </div>
        </div>
    </form>

    </body>
</div>
</html>