<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/head :: head"></head>
<header th:insert="blocks/header :: header"></header>

<div class="container py-3">

    <h2>Комнаты</h2>

    <body>

    <br>

    <div class="col-sm-1"><a class="btn btn-primary btn-sm" href="/rooms/new" role="button">Создать</a></div>

    <br>
    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Количество кресел</th>
                <th>Проектор</th>
                <th>Доска</th>
                <th>Самое ранее забронированное время</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <div th:each="room : ${rooms}">
                <tr>
                    <td class="align-middle" th:text="${room.id}"></td>
                    <td class="align-middle" th:text="${room.name}"></td>
                    <td class="align-middle" th:text="${room.numberOfSeats}"></td>

                    <td th:if="${room.projector} == true" class="align-middle">+</td>
                    <td th:unless="${room.projector} == true" class="align-middle">-</td>

                    <td th:if="${room.board} == true" class="align-middle">+</td>
                    <td th:unless="${room.board} == true" class="align-middle">-</td>

                    <td th:unless="${room.getNextBooking() == null}" class="align-middle" th:text="${room.getNextBooking()}"></td>
                    <td th:if="${room.getNextBooking() == null}" class="align-middle">Аудитория свободна</td>
                    <td class="align-middle col-md-1">
                        <a class="btn btn-link btn-sm" role="button" th:href="@{/rooms/{id}(id=${room.getId()})}"
                           th:text="Редактировать"></a>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>

    </body>

</div>

</html>